<div class="grid grid-cols-10 grid-rows-7 mx-4 mt-28">
  <div class="card-container col-start-2 col-span-8">
    <nz-tabs nzType="card">
      <nz-tab nzTitle="Cache">
        <div class="bg-white">
          <p class="text-2xl">Hi there I'm Cache!</p>
          <img
            class="h-48 w-38"
            src="https://i.postimg.cc/13s6BSN3/20250801-152327.jpg"
            alt="cache pictured with cds"
          />
          <p>I am passionate about cds and cd players and have been since I was in high school!</p>
          <p>I currently live in Montreal, QC but grew up in New Jersey, USA.</p>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Education">
        <div class="bg-white">
          <p class="text-2xl">Queen's Univeristy: Class of 2020, BASc</p>
          <p>I have my Bachelors in Applied Sciences with a discipline in Computer Engineering !</p>
        </div></nz-tab
      >
      <nz-tab nzTitle="Links">
        <div class="bg-white">
          <p class="text-2xl">Contact me at one of these links</p>
          <p>Email: <a href="mailto:cacangus@gmail.com">cacangus@gmail.com</a></p>
          <p>
            LinkedIn: <a href="https://www.linkedin.com/in/sierra-cache/">Sierra Cache Angus</a>
          </p>
          <p>Email: <a href="https://github.com/CacheAngus">Cache Angus</a></p>
        </div></nz-tab
      >
    </nz-tabs>
  </div>
</div>
